<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body  class="homep">
    <section>
    <h1>Raxmice <span class="appname">To Do List</span></h1>
    <div class="box">
        <div class="subhead"><h3>Choose List Type</h3></div>
        <div class="imp li-link">
            <a href="imp"><img src="img/star.svg" alt="star" class="list-img"><span>Important</span></a>
        </div>
        <div class="task li-link">
            <a href="task"><img src="img/list.svg" alt="home" class="list-img"><span>Tasks</span></a>
        </div>
    </div>
</section>
<footer>
    <a href="/">Back to Home</a>
    <br>
    Raxmice @ 2022
</footer>
</body>
</html>